/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  letter-spacing: 1px;
  overflow-x: hidden;
  padding-bottom: 0;
}

img {
  max-width: 100%;
  height: 20em;
}

@font-face {
  font-family: "Romantica Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Romantica Regular"), url("Romantica-RpXpW.woff") format("woff");
}

/*Header*/
.myheader {
  background-color: black;
  height: 100px;
  width: 100vw;
}

.meme {
  font-family: "Romantica Regular";
  color: #fff !important;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  padding: 2em;
}
/*Header*/

/*Footer*/
.myfooter {
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: -1em;
}

.foot {
  padding: 1em;
  color: #fff;
}
/*Footer*/

/*My Headings*/
.mytitles {
  height: 2em;
  letter-spacing: 1px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  width: 100%;
  padding-top: 1em;
}

.mytitles::after {
  background-color: #900c3f;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 100px;
}
/*My Headings*/

/*Buttons*/
.mybutton {
  background-color: red;
  border: none;
  color: white;
  padding: 8px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5px 2px;
  cursor: pointer;
  letter-spacing: 1px;
}

.mybutton:hover {
  background-color: rgb(59, 176, 230);
  color: #fff;
  transition: 1s;
}
/*Buttons*/

/*Meme*/
.mymeme {
  margin-bottom: 3em;
  margin-top: 3em;
}
.mym {
  margin-top: 1em;
}
/*Meme*/
